.theme-button {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

/* light theme styles */

.light-theme {
    color: #333333;
    background-color: #eae9f2;
  }

/* subscribtion */

.light-theme .button { 
    background-color: #6653d9;
    color: #ffffff;
}

.light-theme .theme-button {
    color: #6653d9;
    border: 1px solid #6653d9;
}

.light-theme .theme-button:focus,
.light-theme .theme-button:hover {
  color: #ffffff;
  background-color: #6653d9;
}

/* dark theme styles */

.dark-theme {
    color: #f2f2f2;
    background-color: #17161a;
}

/* subscribtion */

.dark-theme .theme-button {
    color: #9484f2;
    border: 1px solid #9484f2;
  }

.dark-theme .theme-button:focus,
.dark-theme .theme-button:hover {
  color: #17161a;
  background-color: #9484f2;
}